obj
bin
_ReSharper.*
_dotCover.*
*.csproj.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.cachefile
*dat
*.crc
*.Version
assets
build
*.user
cachefile*.*
src/packages
content
*.ncrunchsolution
src/*.pdb


packages
*.DotSettings
CorePlugin/GamePlugin.core.xml

/Design notes.txt
*.orig
